@import "./variables.scss";
.theme-bar {
    background: $bar-background;
    color: white
}

.theme-button {
    background: $btn-background;
}

.theme-link {
    color: $color2light
}

.theme-background {
    background-color: $bar-background
}

.text-line-feed {
    white-space: pre-line;
}

.ng-invalid:not(form).ng-touched {
    border: 1px solid red;
}

.fit-content {
    max-width: fit-content;
}