<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light mb-2">
    <a class="navbar-brand nvabg-dark" routerLink="/home" routerLinkActive="active">Home Control</a>


    <button *ngIf="loggedIn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div *ngIf="loggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">

            <ng-container *ngFor="let menu of MenuTopo">
                <li *ngIf="menu.url" class="nav-item active mr-1">
                    <a class="nav-link text-light" [routerLink]="[menu.url]">
                        <fa-icon [icon]="menu.icone"></fa-icon> {{menu.nome}}
                    </a>
                </li>

                <li *ngIf="!menu.url && menu.subMenu" class="nav-item active mr-1 dropdown">
                    <a class="nav-link dropdown-toggle text-light " href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <fa-icon [icon]="menu.icone"></fa-icon> {{menu.nome}}
                    </a>

                    <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown ">
                        <ng-container *ngFor="let subMenu of menu.subMenu">
                            <a *ngIf="subMenu.url" class="dropdown-item text-light" [routerLink]="[subMenu.url]">
                                <fa-icon [icon]="subMenu.icone"></fa-icon> {{subMenu.nome}}
                            </a>

                            <div *ngIf="subMenu.separator" class="dropdown-divider"></div>

                        </ng-container>
                    </div>
                </li>
            </ng-container>
        </ul>

        <ul class="navbar-nav ml-auto">
            <app-user-menu></app-user-menu>
        </ul>
    </div>
</nav>