<div class="d-flex justify-content-center h-100">
    <div class="theme-form">
        <div class="card-header theme-bar">
            <h3>
                {{titulo}}
            </h3>
        </div>
        <div class="card-body ">
            <ng-content select="[cardBody]"></ng-content>
        </div>
        <div class="card-footer theme-bar">
            <div class="d-flex links">
                <ng-content select="[cardFooter]"></ng-content>
            </div>
        </div>
    </div>
</div>