<div class="d-flex justify-content-center h-100">
    <div class="card" style="min-width: 40rem;">
        <div class="card-header theme-bar">
            <h3>
                Acesso
            </h3>
        </div>
        <div class="card-body ">
            <router-outlet></router-outlet>
        </div>
        <div class="card-footer theme-bar">
            <div class="d-flex links">
                Não tem uma conta? &nbsp;<a routerLink="/login/create" href="#" class="theme-link">Inscreva-se</a>
            </div>
        </div>
    </div>
</div>